# Column Match Combinations

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
from itertools import combinations 
import math

## Create DataFrame Template

In [2]:
cols = ["title","first", "surname", "email", "mob", "landline", "housenum", "street","town", "postcode"]

df = pd.DataFrame(columns=cols)
df["r"] = ''
df

Empty DataFrame
Columns: [title, first, surname, email, mob, landline, housenum, street, town, postcode, r]
Index: []

## Calculate Number of Combinations

In [3]:
ten_choose_1 = math.factorial(10)/(math.factorial(1) * math.factorial(10-1))
ten_choose_2 = math.factorial(10)/(math.factorial(2) * math.factorial(10-2))
ten_choose_3 = math.factorial(10)/(math.factorial(3) * math.factorial(10-3))
ten_choose_4 = math.factorial(10)/(math.factorial(4) * math.factorial(10-4))
ten_choose_5 = math.factorial(10)/(math.factorial(5) * math.factorial(10-5))
ten_choose_6 = math.factorial(10)/(math.factorial(6) * math.factorial(10-6))
ten_choose_7 = math.factorial(10)/(math.factorial(7) * math.factorial(10-7))
ten_choose_8 = math.factorial(10)/(math.factorial(8) * math.factorial(10-8))
ten_choose_9 = math.factorial(10)/(math.factorial(9) * math.factorial(10-9))
ten_choose_10 = math.factorial(10)/(math.factorial(10) * math.factorial(10-10))

total_combinations = int(np.sum([ten_choose_1, 
                                 ten_choose_2,
                                 ten_choose_3,
                                 ten_choose_4,
                                 ten_choose_5,
                                 ten_choose_6,
                                 ten_choose_7,
                                 ten_choose_8,
                                 ten_choose_9,
                                 ten_choose_10]))

print('Number of combinations for ones:    ', round(ten_choose_1))
print('Number of combinations for twos:    ', round(ten_choose_2))
print('Number of combinations for threes: ', round(ten_choose_3))
print('Number of combinations for fours:  ', round(ten_choose_4))
print('Number of combinations for fives:  ', round(ten_choose_5))
print('Number of combinations for sixes:  ', round(ten_choose_6))
print('Number of combinations for sevens: ', round(ten_choose_7))
print('Number of combinations for eights:  ', round(ten_choose_8))
print('Number of combinations for nines:   ', round(ten_choose_9))
print('Number of combinations for tens:     ', round(ten_choose_10))
print('----------------------------------------')
print('Total number of combinations:      ', total_combinations)

Number of combinations for ones:     10
Number of combinations for twos:     45
Number of combinations for threes:  120
Number of combinations for fours:   210
Number of combinations for fives:   252
Number of combinations for sixes:   210
Number of combinations for sevens:  120
Number of combinations for eights:   45
Number of combinations for nines:    10
Number of combinations for tens:      1
----------------------------------------
Total number of combinations:       1023

## Generate Combinations

In [4]:
ones = combinations(cols, 1) 
twos = combinations(cols, 2) 
threes = combinations(cols, 3) 
fours = combinations(cols, 4) 
fives = combinations(cols, 5) 
sixes = combinations(cols, 6) 
sevens = combinations(cols, 7) 
eights = combinations(cols, 8) 
nines = combinations(cols, 9) 
tens = combinations(cols, 10)

ones = [','.join(i) for i in ones] 
twos = [','.join(i) for i in twos] 
threes = [','.join(i) for i in threes] 
fours = [','.join(i) for i in fours] 
fives = [','.join(i) for i in fives] 
sixes = [','.join(i) for i in sixes] 
sevens = [','.join(i) for i in sevens]
eights = [','.join(i) for i in eights] 
nines = [','.join(i) for i in nines] 
tens = [','.join(i) for i in tens]

## Add Combinations as Binary Values to Dataframe of Features

In [5]:
combos_list = [ones, twos, threes, fours, fives, sixes, sevens, eights, nines, tens]
r_list = [1,2,3,4,5,6,7,8,9,10]
for i, combos in enumerate(combos_list):
    temp_df = pd.DataFrame({"title":[0],
                               "first":[0],
                               "surname":[0],
                               "email":[0],
                               "mob": [0],
                               "landline":[0],
                               "housenum":[0],
                               "street":[0],
                               "town":[0],
                               "postcode":[0],
                               "r":[r_list[i]]})
    for combo in combos:
        combo_list = combo.split(',')
        for i, feature in enumerate(combo_list):
            temp_df[feature] = '1'

        df = pd.concat([df, temp_df], axis='rows')
        temp_df = pd.DataFrame({"title":[0],
                               "first":[0],
                               "surname":[0],
                               "email":[0],
                               "mob": [0],
                               "landline":[0],
                               "housenum":[0],
                               "street":[0],
                               "town":[0],
                               "postcode":[0]})
        temp_df["r"] = r_list[i]

        df = df.reset_index(drop=True)
df

     title first surname email mob landline housenum street town postcode   r
0        1     0       0     0   0        0        0      0    0        0   1
1        0     1       0     0   0        0        0      0    0        0   1
2        0     0       1     0   0        0        0      0    0        0   1
3        0     0       0     1   0        0        0      0    0        0   1
4        0     0       0     0   1        0        0      0    0        0   1
5        0     0       0     0   0        1        0      0    0        0   1
6        0     0       0     0   0        0        1      0    0        0   1
7        0     0       0     0   0        0        0      1    0        0   1
8        0     0       0     0   0        0        0      0    1        0   1
9        0     0       0     0   0        0        0      0    0        1   1
10       1     1       0     0   0        0        0      0    0        0   2
11       1     0       1     0   0        0        0      0    0        0   2
12       1     0       0     1   0        0        0      0    0        0   2
13       1     0       0     0   1        0        0      0    0        0   2
14       1     0       0     0   0        1        0      0    0        0   2
15       1     0       0     0   0        0        1      0    0        0   2
16       1     0       0     0   0        0        0      1    0        0   2
17       1     0       0     0   0        0        0      0    1        0   2
18       1     0       0     0   0        0        0      0    0        1   2
19       0     1       1     0   0        0        0      0    0        0   2
20       0     1       0     1   0        0        0      0    0        0   2
21       0     1       0     0   1        0        0      0    0        0   2
22       0     1       0     0   0        1        0      0    0        0   2
23       0     1       0     0   0        0        1      0    0        0   2
24       0     1       0     0   0        0        0      1    0        0   2
25       0     1       0     0   0        0        0      0    1        0   2
26       0     1       0     0   0        0        0      0    0        1   2
27       0     0       1     1   0        0        0      0    0        0   2
28       0     0       1     0   1        0        0      0    0        0   2
29       0     0       1     0   0        1        0      0    0        0   2
...    ...   ...     ...   ...  ..      ...      ...    ...  ...      ...  ..
993      1     1       0     1   0        1        1      1    1        1   8
994      1     1       0     0   1        1        1      1    1        1   8
995      1     0       1     1   1        1        1      1    1        0   8
996      1     0       1     1   1        1        1      1    0        1   8
997      1     0       1     1   1        1        1      0    1        1   8
998      1     0       1     1   1        1        0      1    1        1   8
999      1     0       1     1   1        0        1      1    1        1   8
1000     1     0       1     1   0        1        1      1    1        1   8
1001     1     0       1     0   1        1        1      1    1        1   8
1002     1     0       0     1   1        1        1      1    1        1   8
1003     0     1       1     1   1        1        1      1    1        0   8
1004     0     1       1     1   1        1        1      1    0        1   8
1005     0     1       1     1   1        1        1      0    1        1   8
1006     0     1       1     1   1        1        0      1    1        1   8
1007     0     1       1     1   1        0        1      1    1        1   8
1008     0     1       1     1   0        1        1      1    1        1   8
1009     0     1       1     0   1        1        1      1    1        1   8
1010     0     1       0     1   1        1        1      1    1        1   8
1011     0     0       1     1   1        1        1      1    1        1   8
1012     1     1       1     1   1        1        1      1    1        0   9
1013     1     1       1     1   1        1        1      1    0        1   9
1014     1     1       1     1   1        1        1      0    1        1   9
1015     1     1       1     1   1        1        0      1    1        1   9
1016     1     1       1     1   1        0        1      1    1        1   9
1017     1     1       1     1   0        1        1      1    1        1   9
1018     1     1       1     0   1        1        1      1    1        1   9
1019     1     1       0     1   1        1        1      1    1        1   9
1020     1     0       1     1   1        1        1      1    1        1   9
1021     0     1       1     1   1        1        1      1    1        1   9
1022     1     1       1     1   1        1        1      1    1        1  10

[1023 rows x 11 columns]

## Save to CSV

In [6]:
#df.to_csv('ten_features_combinations.csv')

## Tip

Open CSV in Excel and use conditional formatting to highlight cells containing 1 to more easily see the combinations.